
<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path flat.picture%>');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
  </div>
</div>

<div class="container">
  <div class="header-flat text-center ">
    <%= image_tag flat.owner_picture, class: "img-circle", style: "width: 100px"%>
    <p><%= flat.owner_name %></p>
    <h1><%= flat.description %></h1>
    <p><%= flat.city %></p>
  </div>
</div>

<div class="text-right">
  <form action="#" class="form-inline">
    <input type="text" class="form-control input-lg" placeholder="checkin">
    <input type="text" class="form-control input-lg" placeholder="checkout">
    <select name="" id="" class="form-control input-lg">
      <option value="1">1 person</option>
      <option value="2">2 persons</option>
      <option value="3">3 persons</option>
    </select>
    <input type="submit" class="btn btn-primary btn-lg" value="Search">
  </form>
</div>


